<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(226, 241, 8)">
    <center>
        <h1 style="background-color:aquamarine;color:red;margin-right:400px;margin-left:400px;border-radius:10px">APSFL OPERATING</h1>
        <h2 align="left"; style=color:green;padding-left:200px >Naresh</h2>
        <form method="POST">
            {% csrf_token %}
                {{FO.as_p}}

            <input type="submit" value="Validate">
        </form>
    </center>
</body>
</html>